.features {
	display: flex;
	flex-direction: column;
	padding: 0 7px;
	gap: 2px;
	&__column {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin: 20px auto;
		padding-top: 15px;
	}
	&__header {
		position: relative;
		display: flex;
		padding-left: 42px;
		padding-bottom: 10px;
		height: 30px;
		border-left: 1px solid var(--color-text-primary);
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: var(--color-accent-background);
			transform: translate(-50%, -50%);
		}

		> h2 {
			position: relative;
			top: -50%;
			margin: 0;
			text-align: left;
			font-size: 20px;
			font-weight: 700;
			z-index: 10;
		}
	}
	&__item {
		border-left: 1px solid var(--color-text-primary);
	}
}
