.section {
	display: flex;
	flex-direction: column;
	margin: 0 8px;
	line-height: 1.5;
	&__item {
		margin: 40px auto 20px;
	}
	&__header {
		margin: 0;
		font-size: 24px;
		font-weight: 700;
	}

	&__sep {
		display: block;
		margin: 12px auto 20px;
		outline: 0;
		border: 0;
		width: 60px;
		height: 3px;
		background-color: var(--color-accent-background);
		
	}
	&__content {
		margin: 0 auto;

	}
}
