.menu {
  position: fixed;
  top: 0;
  left: -250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	box-sizing: border-box;
	padding: 12px 20px 40px;
  width: 250px;
  height: 100vh;
  background-color: var(--color-accent-background);
  color: #fff;
  overflow-y: auto;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
	z-index: 1000;
	&--active {
		left: 0;
	}
	&__nav {
		padding-left: 20px;
	}
	&__navlist {
		display: flex;
		flex-direction: column;
		padding: 0;
		text-transform: uppercase;
		text-align: left;
		list-style: none;
	}
	&__item {
		box-sizing: border-box;
		padding: 8px 0 8px 20px;
		list-style-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none" stroke="currentColor"><circle cx="7.5" cy="7.5" r="7"/></svg>');
	}
	&__link {
		display: inline;
		font-size: 24px;
		line-height: 1.5;
		font-weight: 700;
		color: var(--color-text-accent);
	}
}

.overlay {
  position: fixed;
  top: 0;
  left: 250px; 
  width: calc(100% - 250px);
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
	&--active {
		opacity: 0.75;
		pointer-events: auto;
	}
}
