.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	&__item {
		position: relative;
		z-index: 1;
		width: 100%;
		box-sizing: border-box;
		margin: 10px 0;
		padding: 12px 10px;
		border: 1px solid rgba(0, 0, 0, 1);
		&:focus-within {
			border: 1px solid rgba(0, 0, 0, 0.5);
		}
		textarea {
			resize: vertical;
		}
	}
	&__status {
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 0;
		display: none;
		padding: 0;
		font-size: 12px;
		line-height: 1.5;
		text-align: left;
		white-space: nowrap;
	}
	&--error {
		display: inline-block;
		color: var(--color-text-status-error);
	}
	&--ok {
		display: inline-block;
		color: var(--color-text-status-ok);
	}
	&__legend {
		margin-bottom: -12px;
		padding: 0 8px;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.5;
	}
	
	&__text {
		box-sizing: border-box;
		margin-top: -16px;
		outline: none;
		border: 0;
		padding: 0 8px;
		width: 100%;
		font-size: 12px;
		line-height: 1.5;
	}

	&__textarea {
		box-sizing: border-box;
		outline: none;
		border: 0;
		padding: 8px;
		width: 100%;
		font-size: 12px;
		line-height: 1.5;
	}

	&__checkbox-group {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px 0;
		gap: 8px;
	}
	&__checkbox {
		
	}
	&__caption {
		max-width: 159px;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: -0.1px;
	}
	&__button {

	}
	&--vm-10 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
