.button {
	border: 1px solid transparent;
	// width: 135px;
	padding: 11px 25px;
	height: 45px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: var(--color-text-primary);
	background-color: var(--color-background);
	cursor: pointer;
	transition: border-color 0.3s;
	&:hover {
		border-color: var(--color-link-hover);
	}
	
	&--primary {
		background-color: var(--color-accent-background);
	}
	&--transparent {
		background-color: transparent;
		&:hover {
			border-color: var(--color-link-hover);
		}
	}
}

button:hover {
  border-color: var(--color-link-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
	border-color: var(--color-link-focus);
	border-color: var(--color-link-active);
}
